#board {
    padding: 3em;
    text-align: center;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}

.row {
    width: 302px;
    clear: both;
    margin: 0 auto;
}

.top {
    border-bottom: 1px solid #1b90dd;
}

.bottom {
    border-top: 1px solid #1b90dd;
}

.left {
    border-right: 1px solid #1b90dd;
}

.right {
    border-left: 1px solid #1b90dd;
}
